@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --void-font-sans:
    "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* body */
  --void-font-body-size: 1rem;
  --void-font-body-line-height: 1.5;
  --void-font-body-default-weight: 500;

  /* headings */
    --void-font-heading-line-height: 1.25;
    --void-font-heading-1-size: 4rem;
    --void-font-heading-2-size: 3rem;
    --void-font-heading-3-size: 2.25rem;
    --void-font-heading-4-size: 1.5rem;
    --void-font-heading-5-size: 1.25rem;
    --void-font-heading-6-size: 1rem;
    --void-font-heading-default-weight: 600;
}

html,
body {
  font-family: var(--void-font-sans);

  p {
    font-size: var(--void-font-body-size);
    line-height: var(--void-font-body-line-height);
    font-weight: var(--void-font-body-default-weight);
  }

  h1 {
    font-size: var(--void-font-heading-1-size);
    line-height: var(--void-font-heading-line-height);
    font-weight: var(--void-font-heading-default-weight);
  }

  h2 {
    font-size: var(--void-font-heading-2-size);
    line-height: var(--void-font-heading-line-height);
    font-weight: var(--void-font-heading-default-weight);
  }

  h3 {
    font-size: var(--void-font-heading-3-size);
    line-height: var(--void-font-heading-line-height);
    font-weight: var(--void-font-heading-default-weight);
  }

  h4 {
    font-size: var(--void-font-heading-4-size);
    line-height: var(--void-font-heading-line-height);
    font-weight: var(--void-font-heading-default-weight);
  }

  h5 {
    font-size: var(--void-font-heading-5-size);
    line-height: var(--void-font-heading-line-height);
    font-weight: var(--void-font-heading-default-weight);
  }
}
