.void-theme {
  /**
 * Progress Bar
 */
  .progress,
  .void-progress {
    width: 100%;
    height: 0.75rem;
    background-color: var(--void-gray-800);
    border-radius: var(--void-radius-xl);
    overflow: hidden;
    margin-bottom: var(--void-spacing-4);
  }

  .progress-bar,
  .void-progress-bar {
    height: 100%;
    background-color: var(--void-azure);
    transition: width var(--void-transition-slow);
    border-radius: var(--void-radius-xl);
  }

  .progress-bar-striped,
  .void-progress-bar-striped {
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    );
    background-size: 1rem 1rem;
  }
}
