.void-theme {
  /**
 * Display Utilities
 */
  .block {
    display: block;
  }
  .inline-block {
    display: inline-block;
  }
  .inline {
    display: inline;
  }
  .hidden {
    display: none;
  }
}
