section.arc-v2__home-hero-widget {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-top: 4rem;

  > h1 {
    font-weight: 800;
    font-size: 4.25rem;
  }
}
