.void-theme {
  /**
 * Spacing Utilities
 */
  /* Margin */
  .m-0 {
    margin: var(--void-spacing-0);
  }
  .m-1 {
    margin: var(--void-spacing-1);
  }
  .m-2 {
    margin: var(--void-spacing-2);
  }
  .m-3 {
    margin: var(--void-spacing-3);
  }
  .m-4 {
    margin: var(--void-spacing-4);
  }
  .m-5 {
    margin: var(--void-spacing-5);
  }
  .m-6 {
    margin: var(--void-spacing-6);
  }
  .m-8 {
    margin: var(--void-spacing-8);
  }
  .m-auto {
    margin: auto;
  }

  .mx-0 {
    margin-left: var(--void-spacing-0);
    margin-right: var(--void-spacing-0);
  }
  .mx-1 {
    margin-left: var(--void-spacing-1);
    margin-right: var(--void-spacing-1);
  }
  .mx-2 {
    margin-left: var(--void-spacing-2);
    margin-right: var(--void-spacing-2);
  }
  .mx-3 {
    margin-left: var(--void-spacing-3);
    margin-right: var(--void-spacing-3);
  }
  .mx-4 {
    margin-left: var(--void-spacing-4);
    margin-right: var(--void-spacing-4);
  }
  .mx-5 {
    margin-left: var(--void-spacing-5);
    margin-right: var(--void-spacing-5);
  }
  .mx-6 {
    margin-left: var(--void-spacing-6);
    margin-right: var(--void-spacing-6);
  }
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .my-0 {
    margin-top: var(--void-spacing-0);
    margin-bottom: var(--void-spacing-0);
  }
  .my-1 {
    margin-top: var(--void-spacing-1);
    margin-bottom: var(--void-spacing-1);
  }
  .my-2 {
    margin-top: var(--void-spacing-2);
    margin-bottom: var(--void-spacing-2);
  }
  .my-3 {
    margin-top: var(--void-spacing-3);
    margin-bottom: var(--void-spacing-3);
  }
  .my-4 {
    margin-top: var(--void-spacing-4);
    margin-bottom: var(--void-spacing-4);
  }
  .my-5 {
    margin-top: var(--void-spacing-5);
    margin-bottom: var(--void-spacing-5);
  }
  .my-6 {
    margin-top: var(--void-spacing-6);
    margin-bottom: var(--void-spacing-6);
  }

  .mt-0 {
    margin-top: var(--void-spacing-0);
  }
  .mt-1 {
    margin-top: var(--void-spacing-1);
  }
  .mt-2 {
    margin-top: var(--void-spacing-2);
  }
  .mt-3 {
    margin-top: var(--void-spacing-3);
  }
  .mt-4 {
    margin-top: var(--void-spacing-4);
  }
  .mt-5 {
    margin-top: var(--void-spacing-5);
  }
  .mt-6 {
    margin-top: var(--void-spacing-6);
  }

  .mb-0 {
    margin-bottom: var(--void-spacing-0);
  }
  .mb-1 {
    margin-bottom: var(--void-spacing-1);
  }
  .mb-2 {
    margin-bottom: var(--void-spacing-2);
  }
  .mb-3 {
    margin-bottom: var(--void-spacing-3);
  }
  .mb-4 {
    margin-bottom: var(--void-spacing-4);
  }
  .mb-5 {
    margin-bottom: var(--void-spacing-5);
  }
  .mb-6 {
    margin-bottom: var(--void-spacing-6);
  }

  .ml-0 {
    margin-left: var(--void-spacing-0);
  }
  .ml-1 {
    margin-left: var(--void-spacing-1);
  }
  .ml-2 {
    margin-left: var(--void-spacing-2);
  }
  .ml-3 {
    margin-left: var(--void-spacing-3);
  }
  .ml-4 {
    margin-left: var(--void-spacing-4);
  }
  .ml-5 {
    margin-left: var(--void-spacing-5);
  }
  .ml-6 {
    margin-left: var(--void-spacing-6);
  }
  .ml-auto {
    margin-left: auto;
  }

  .mr-0 {
    margin-right: var(--void-spacing-0);
  }
  .mr-1 {
    margin-right: var(--void-spacing-1);
  }
  .mr-2 {
    margin-right: var(--void-spacing-2);
  }
  .mr-3 {
    margin-right: var(--void-spacing-3);
  }
  .mr-4 {
    margin-right: var(--void-spacing-4);
  }
  .mr-5 {
    margin-right: var(--void-spacing-5);
  }
  .mr-6 {
    margin-right: var(--void-spacing-6);
  }
  .mr-auto {
    margin-right: auto;
  }

  /* Padding */
  .p-0 {
    padding: var(--void-spacing-0);
  }
  .p-1 {
    padding: var(--void-spacing-1);
  }
  .p-2 {
    padding: var(--void-spacing-2);
  }
  .p-3 {
    padding: var(--void-spacing-3);
  }
  .p-4 {
    padding: var(--void-spacing-4);
  }
  .p-5 {
    padding: var(--void-spacing-5);
  }
  .p-6 {
    padding: var(--void-spacing-6);
  }
  .p-8 {
    padding: var(--void-spacing-8);
  }

  .px-0 {
    padding-left: var(--void-spacing-0);
    padding-right: var(--void-spacing-0);
  }
  .px-1 {
    padding-left: var(--void-spacing-1);
    padding-right: var(--void-spacing-1);
  }
  .px-2 {
    padding-left: var(--void-spacing-2);
    padding-right: var(--void-spacing-2);
  }
  .px-3 {
    padding-left: var(--void-spacing-3);
    padding-right: var(--void-spacing-3);
  }
  .px-4 {
    padding-left: var(--void-spacing-4);
    padding-right: var(--void-spacing-4);
  }
  .px-5 {
    padding-left: var(--void-spacing-5);
    padding-right: var(--void-spacing-5);
  }
  .px-6 {
    padding-left: var(--void-spacing-6);
    padding-right: var(--void-spacing-6);
  }

  .py-0 {
    padding-top: var(--void-spacing-0);
    padding-bottom: var(--void-spacing-0);
  }
  .py-1 {
    padding-top: var(--void-spacing-1);
    padding-bottom: var(--void-spacing-1);
  }
  .py-2 {
    padding-top: var(--void-spacing-2);
    padding-bottom: var(--void-spacing-2);
  }
  .py-3 {
    padding-top: var(--void-spacing-3);
    padding-bottom: var(--void-spacing-3);
  }
  .py-4 {
    padding-top: var(--void-spacing-4);
    padding-bottom: var(--void-spacing-4);
  }
  .py-5 {
    padding-top: var(--void-spacing-5);
    padding-bottom: var(--void-spacing-5);
  }
  .py-6 {
    padding-top: var(--void-spacing-6);
    padding-bottom: var(--void-spacing-6);
  }

  .pt-0 {
    padding-top: var(--void-spacing-0);
  }
  .pt-1 {
    padding-top: var(--void-spacing-1);
  }
  .pt-2 {
    padding-top: var(--void-spacing-2);
  }
  .pt-3 {
    padding-top: var(--void-spacing-3);
  }
  .pt-4 {
    padding-top: var(--void-spacing-4);
  }
  .pt-5 {
    padding-top: var(--void-spacing-5);
  }
  .pt-6 {
    padding-top: var(--void-spacing-6);
  }

  .pb-0 {
    padding-bottom: var(--void-spacing-0);
  }
  .pb-1 {
    padding-bottom: var(--void-spacing-1);
  }
  .pb-2 {
    padding-bottom: var(--void-spacing-2);
  }
  .pb-3 {
    padding-bottom: var(--void-spacing-3);
  }
  .pb-4 {
    padding-bottom: var(--void-spacing-4);
  }
  .pb-5 {
    padding-bottom: var(--void-spacing-5);
  }
  .pb-6 {
    padding-bottom: var(--void-spacing-6);
  }

  .pl-0 {
    padding-left: var(--void-spacing-0);
  }
  .pl-1 {
    padding-left: var(--void-spacing-1);
  }
  .pl-2 {
    padding-left: var(--void-spacing-2);
  }
  .pl-3 {
    padding-left: var(--void-spacing-3);
  }
  .pl-4 {
    padding-left: var(--void-spacing-4);
  }
  .pl-5 {
    padding-left: var(--void-spacing-5);
  }
  .pl-6 {
    padding-left: var(--void-spacing-6);
  }

  .pr-0 {
    padding-right: var(--void-spacing-0);
  }
  .pr-1 {
    padding-right: var(--void-spacing-1);
  }
  .pr-2 {
    padding-right: var(--void-spacing-2);
  }
  .pr-3 {
    padding-right: var(--void-spacing-3);
  }
  .pr-4 {
    padding-right: var(--void-spacing-4);
  }
  .pr-5 {
    padding-right: var(--void-spacing-5);
  }
  .pr-6 {
    padding-right: var(--void-spacing-6);
  }
}
