.void-theme {
  /**
 * Width/Height Utilities
 */
  .w-full {
    width: 100%;
  }
  .w-auto {
    width: auto;
  }
  .w-screen {
    width: 100vw;
  }

  .h-full {
    height: 100%;
  }
  .h-auto {
    height: auto;
  }
  .h-screen {
    height: 100vh;
  }

  .min-h-screen {
    min-height: 100vh;
  }
  .min-h-full {
    min-height: 100%;
  }
}
