@import './void/void-min/dist/void-base.min.css';
@import './void/void-min/dist/void-reset.min.css';
@import './void/void-min/dist/void-font.min.css';
@import './void/void-min/dist/void-layout.min.css';
@import './void/void-min/dist/void-tailwind.min.css';

@import './void/void-variables.css';
@import './void/void-components.css';

@import './v2/styles.css';
